useDynLib( rrLogit, .registration=TRUE )

import( "stats" )

export( rrLogitControl )
export( rrLogit )
export( rrPertMat )
export( rrPerturbResponse )

export( rrLogit.formula )
export( rrLogit.rrLogit )
export( rrLogit.default )
export( summary.rrLogit )
export( coef.rrLogit )
export( fitted.rrLogit )
export( residuals.rrLogit )
export( model.frame.rrLogit )
export( model.matrix.rrLogit )
export( terms.rrLogit )
export( formula.rrLogit )
export( anova.rrLogit )
export( predict.rrLogit )
export( impute )
export( impute.rrLogit )
export( df.residual.rrLogit )

export( loglik )
export( logP )
export( minus2logPSeries )
export( coefSeries )
export( impList )
export( margProbSeries )

export(miInference)
export(print.miInference)

S3method( rrLogit, formula )
S3method( rrLogit, rrLogit )
S3method( rrLogit, default )
S3method( print, rrLogit )
S3method( summary, rrLogit )
S3method( print, summary.rrLogit )
S3method( coef, rrLogit)
S3method( fitted, rrLogit)
S3method( df.residual, rrLogit)
S3method( residuals, rrLogit)
S3method( model.frame, rrLogit)
S3method( model.matrix, rrLogit)
S3method( terms, rrLogit)
S3method( formula, rrLogit)
S3method( anova, rrLogit)
S3method( predict, rrLogit )
S3method( impute, rrLogit )
S3method( print, miInference )
